

  <footer class="text-center  bg-dark">
    <div class="container d-flex justify-content-center py-3">
      <button type="button" class="btn btn-light btn-lg btn-floating mx-3">
        <i class="bx bxl-facebook-circle bx-tada" ></i>
      </button>
      <button type="button" class="btn btn-light btn-lg btn-floating mx-3">
        <i class="bx bxl-youtube bx-tada"></i>
      </button>
      <button type="button" class="btn btn-light btn-lg btn-floating mx-3">
        <i class="bx bxl-instagram bx-tada"></i>
      </button>
      <button type="button" class="btn btn-light btn-lg btn-floating mx-3">
        <i class="bx bxl-twitter bx-tada"></i>
      </button>
    </div>
    <div class="container-copy bg-dark text-center text-white">
      © 2021 Copyright: <a class= "text-white "href="https://github.com/Faustinho21">Fausto Salazar</a>
    </div>
    
  </footer>
  
