<div class="container-total">
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/Epassa.png" alt="" width="500" height="150" class="d-inline-block align-text-top">
      </a>
    <div class= "d-flex">
      <div class="container-img">
          <a class="navbar-brand" href="#">
            <img src="assets/img/newspaper.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
          </a>
          <p class="text">Noticias</p>
      </div>
      <div class="container-img">
        <a class="navbar-brand" href="#">
          <img src="assets/img/key_2.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <p class="text">Ususarios</p>
      </div>
      <div class="container-img">
        <a class="navbar-brand" href="#">
          <img src="assets/img/correo-web.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <p class="text-mail">Correo Web</p>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid " id="container-segundo">
    <a class="navbar-brand" href="#">Inicio</a>
    <a class="navbar-brand" href="#">Estatutos</a>
    <a class="navbar-brand" href="#">Enlaces</a>
    <a class="navbar-brand" href="#">Anuncios y publicidad de contratacion</a>
    <a class="navbar-brand" href="#">Videos</a>
  </div>
</nav>
</div>











