<div class="sidebar bg-dark">
  <ul class="nav-list">
    <li class="element">
      <a href="#">
        <i class="bx bxs-parking bx-sm" ></i>
        <span class="nombre-enlace">Aparcamientos</span>
      </a>
    </li>
    <li class="element">
      <a href="#">
        <i class="bx bxs-bus bx-sm"></i>
        <span class="nombre-enlace">Estación de autobuses</span>
      </a>
    </li>
    <li class="element">
      <a href="#">
        <i class="bx bxs-user bx-sm" ></i>
        <span class="nombre-enlace">Perfil del contratante</span>
      </a>
    </li>
    <li class="element">
      <a href="#">
        <i class="bx bxs-book-open bx-sm"></i>
        <span class="nombre-enlace">Historia</span>
      </a>
    </li>
    <li class="element">
      <a href="#">
        <i class="bx bxs-message bx-sm" ></i>
        <span class="nombre-enlace">Buzón de sugerencias</span>
      </a>
    </li>
    <li class="element">
      <a href="#">
        <i class="bx bxs-group bx-sm"></i>
        <span class="nombre-enlace">Consejo de administración</span>
      </a>
    </li>
  </ul>
</div>

<div class="card-group" id="grupo">
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
   
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>